
<section>

  <div class="portfolio">
    <h1>This Portfolio is under development, stay tuned!</h1>

    <header>
    <h1>Welcome to Alireza Mirehe's Portfolio!</h1>
  </header>

  <section id="contact">
    <h2>Contact Information</h2>
    <ul>
      <li><strong>Phone:</strong> +989124768284</li>
      <li><strong>Email:</strong> AlirezaMirehe&#64;gmail.com</li>
      <li><strong>Location:</strong> Tehran, Iran</li>
    </ul>
  </section>

  <section id="work-experience">
    <h2>Work Experience</h2>
    <div class="experience">
      <h3>Senior Angular Developer - MAHSAN CO (Apr 2020 - Current)</h3>
      <p>
        Spearheaded successful implementation of 10+ administrative panel systems using Nx build system and Microfrontend architecture.<br>
        Architected Complex Forms Components with JSON Schema using Angular Formly across 50+ pages.<br>
        Integrated AG Grid, Angular query builder, WebSockets, and Angular JWT for improved user experience and operational efficiency.<br>
        Developed Jest unit test suites to validate code functionality, enhancing overall project stability.<br>
        Enhanced AG Grid's performance by integrating Angular change detection and Angular Worker, resulting in 100% rendering speed improvement.<br>
        Employed robust CI/CD pipelines for automated linting, testing, and code merging, ensuring seamless integration and deployment.<br>
        Designed and launched an advanced email panel system, inspired by Gmail's interface, capable of handling 10,000+ emails weekly.<br>
        Implemented efficient caching and downloading web app for npm packages, allowing +50 users to cache packages.<br>
        Optimized admin panel data diode system using Vanilla JavaScript and Highcharts, doubling data processing speed.<br>
        Conducted code reviews and provided mentorship to junior developers.<br>
      </p>
    </div>

    <div class="experience">
      <h3>Junior Frontend Developer - ARMAN RAYAN SHARIF (Jan 2017 - Aug 2018)</h3>
      <p>
        Contributed to a speech-to-text conversion system with Angular 4 and a team of 10+.<br>
        Aided in creating an admin panel web app with D3 and Angular 4.<br>
      </p>
    </div>

    <div class="experience">
      <h3>Frontend Developer - IRAN RAILWAYS (Dec 2018 - Mar 2020)</h3>
      <p>
        Engineered on an admin panel system using Microsoft SharePoint database with 50+ data table pages using Angular.<br>
        Crafted +10 layers control and overlay on the Iran Railway live map with GeoJson data structure using Leaflet map.<br>
      </p>
    </div>

    <div class="experience">
      <h3>Frontend Developer - Ministry of Economic Affairs and Finance (Nov 2018 - Nov 2019)</h3>
      <p>
        Implemented 2 user-friendly business licensing admin panels and PWA using Angular Telerik Kendo UI reaching over +2000 users.<br>
      </p>
    </div>

    <div class="experience">
      <h3>Junior Frontend Developer - CRCIS (Oct 2017 - Dec 2017)</h3>
      <p>
        Participated in implementing a tag and category creator system using AngularJs reaching over +1000 users.<br>
      </p>
    </div>
  </section>

  <section id="about-me">
    <h2>About Me</h2>
    <p>Seyed Alireza Mirehe - Experienced Frontend Developer (+7 years) dedicated to crafting efficient, quality code and staying updated on Angular trends...</p>
    <p><a href="https://linkedin.com/in/seyed-alireza-mirehe" target="">LinkedIn Profile</a></p>
  </section>

  <section id="education">
    <h2>Education</h2>
    <p>Mechanical Engineering B.Sc. - Semnan University (2009 - 2014)</p>
  </section>

  <section id="certifications">
    <h2>Certifications</h2>
    <ul>
      <li>Computer Science Principles</li>
      <li>Programming Foundations: Algorithms</li>
      <li>TypeScript Essential</li>
      <li>Tailwind CSS 3</li>
      <li>DevOps Foundations: CI/CD</li>
      <li>React.JS Essential</li>
      <li>React.JS : Building an Interface</li>
    </ul>
  </section>

  <section id="languages">
    <h2>Languages</h2>
    <p>ENGLISH: Fluent</p>
    <p>GERMAN: Basic</p>
  </section>

  <footer>
    <p>&copy; 2024 Alireza Mirehe</p>
  </footer>
</div>
</section>
